*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #333;
}
.text-box{
    font-size: 6rem;
    font-family: sans-serif;
    position: relative;
    margin-top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center ;
}
p{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 50px;
    padding: 50px;
    color: #fff;
    text-shadow: #FC0 1px 0 10px;
}
span{
    animation: mover 6s linear infinite;
    display: inline-block;
    color: #fff;
    font-weight: bolder;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
@keyframes mover
{
    0%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
      }
    50%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
        transform: translateY(30px);
      }
    100%
      {
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
      }
}
span:nth-child(1)
{
    animation-delay: 0.5s;
}
span:nth-child(2)
{
    animation-delay: 1s;
}
span:nth-child(3)
{
    animation-delay: 1.5s;
}
span:nth-child(4)
{
    animation-delay: 2s;
}
span:nth-child(5)
{
    animation-delay: 2.5s;
}
span:nth-child(6)
{
    animation-delay: 3s;
}
span:nth-child(7)
{
    animation-delay: 3.5s;
}
span:nth-child(8)
{
    animation-delay: 4s;
}
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
  }
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    filter: blur(4px);
}
i{
    color: #aaa;
    font-size: 60px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: 300ms;
    margin: auto;
}
.odkazy{
    display:flex;
    text-align: center;
    flex-direction: column;
}
.fa-youtube{
    font-size:60px;
    color: rgb(255, 0, 0);
    text-shadow: rgb(255, 255, 255) 1px 0 20px;
}
.fa-github{
    color: black;
    text-shadow: rgb(255, 255, 255) 1px 0 50px;
}
.fa-user{
    color: black;
    text-shadow: rgb(255, 255, 255) 1px 0 50px;
}
@media only screen and (max-width: 700px){
    span{
        top: 50%;
        margin-top: 100px;
        font-size: 2.5rem;
    }
    p{
        font-size: 25px;
    }
}