*{
    margin: 0;
}
img{
    display: block;
}
.hlavicka{
    max-width: 100%;
}
.paticka{
    max-width: 100%;
    top: 100%;
}
.work{
    height: 300px;
    margin: 5% 10% 10% 10%;
    margin-bottom: 200px;
    display: flex;
}
.work-img{

    flex: 1;
    background-image: url("sample-image.jfif");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    border-radius: 25px;
}
.work-text{

    flex: 1;
    padding-left:2em;
    color: #E23838;
    font-family: sans-serif;
}
.work-title {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 5px solid #E23838;
}
.work-notes{
    font-size: 1.2em;
    padding-top: 5px;
}
footer{
    top: 20px;
}
@media screen and (max-width:600px) {
    .work{
        flex-direction: column;
        padding-bottom: 2em;
    }
    .work-img{
        min-height: 300px;
    }
    .work-text{
        padding-top: 2em;
        padding-left: 0;
    }

}