*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #333;
    font-family: sans-serif;
}
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
  }
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    filter: blur(4px);
}
ul{
    list-style:none;
    width:100%;
    height:auto;
    overflow:auto;
    background-color: #212121;
    position:fixed;
    color:white;
}
ul.sidenav li.icon{
    display:none;
}

li a{
    display:block;
    text-decoration:none;
    color: white;
    float: left;
    padding: 13px;
}

li a:active {
    background-color: #4268B5;
    color: white;
}

li a:hover:not(.active){
    background-color: #4074dd;
    color:white
}

section{
    width: 50%;
    padding-top:50px;
    background-color: #424242;
}
@media screen and (min-width:900px){
    ul{
        width: 15%;
        height:100%;
    }
    section{
        margin-left:15%;
        padding:1px 16px;
        height:1000px;
    }
    li a{
        float:none;
    }
    ul.sidenav li.icon{
        display:none;
    }
}
ul.sidenav li a.active {
    background-color: #2b40cd;
    color: white;
  }
  @media screen and (max-width:900px){

    ul.sidenav{
        width:100%;
        height:auto;
        position:relative;
        }

    ul.sidenav li a {
        float:left;
        padding:15px;
        }

    section.content {
        margin-left:0;
        }
    ul.sidenav li.icon {
        display:none;
        }
    }

@media screen and (max-width:400px){

    ul.sidenav li a {
        float:none;
        text-align:center;
        }
    ul.sidenav li.icon {
        display:block;
        background-color:black;
        }

    ul.sidenav .mobile {
        display:none;
        }

    ul.sidenav li.icon a {
        text-align:right;
        color:white;
        }
    }
.javas{
    display:none;
}
.aboutme{
    margin-left: 275px;
    color: white;
    padding-top: 50px;
}
.aboutme p{
    margin-bottom:10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    text-shadow: #FC0 1px 0 10px;
}
.textik{
    margin-bottom:10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    margin-left: 275px;
    color: white;
    padding-top: 25px;
}
.samuel{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
span{
    animation: mover 6s linear infinite;
    display: inline-block;
    color: #fff;
    font-weight: bolder;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
@keyframes mover
{
    0%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
      }
    50%{
        text-shadow: 0 0 30px rgba(0, 0, 0, 0.30);
        transform: translateY(10px);
      }
    100%
      {
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
      }
}
span:nth-child(1)
{
    animation-delay: 0.5s;
}
span:nth-child(2)
{
    animation-delay: 1s;
}
span:nth-child(3)
{
    animation-delay: 1.5s;
}
span:nth-child(4)
{
    animation-delay: 2s;
}
span:nth-child(5)
{
    animation-delay: 2.5s;
}
span:nth-child(6)
{
    animation-delay: 3s;
}
span:nth-child(7)
{
    animation-delay: 3.5s;
}
span:nth-child(8)
{
    animation-delay: 4s;
}
.sidenav{
    filter: blur(1);
    opacity: calc(0.8);
}
.youtubeobr{
    max-width: 600px;
    margin-top: 25px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    transition: all 200ms ease-out;
    border-radius: 25px;
}
.contact{
    margin-left: 275px;
    color: white;
    padding-top: 50px;
    margin-bottom:25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    text-shadow: #FC0 1px 0 10px;
}
.dont{
    margin-bottom: 25px;
}
.contact i{
    margin-bottom: 30px;
}