@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    margin: 0;
}
body{
    font-family: "Montserrat";
}
.navbar{
    display: flex;
    min-height: 70px;
    max-height: 70px;
    align-items: center;
    list-style-type: none;
    padding-left: 25px;
}
.navbar img{
    max-height: 41px;
}

.links ul{
    list-style-type: none;
}
.links li{
    display: inline;
    margin-right: 25px;
}
.links a{
    text-decoration: none;
    color: rgb(5, 125, 180);
}
.links a:visited{
    text-decoration: none;
    color: rgb(5, 125, 180);
}
.cont-1{
    background-image: url(zena.png);
    min-height: 710px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.nadpis-1{
    padding-right: 45%;
    font-size: 70px;
    padding-top: 250px;
    padding-left: 75px;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #BBBBBB;

}
.cont-2{
    background-color: #ffffff;
    min-height: 600px;
    display: flex;
    max-width: 100%;
    align-items: center;

}
.cont-3{
    background-color: #1f4454;
    min-height: 600px;
    display: flex;
    align-items: center;
}
.cont-4{
    background-color: #1f4454;
    min-height: 600px;
    display: flex;
    max-width: 100%;
    align-items: center;
}
.cont-5{
    background-color: #1f4454;
    min-height: 600px;
    display: flex;
    max-width: 100%;
    align-items: center;
}
.cont-6{
    background-color: #1f4454;
    min-height: 600px;
    display: flex;
    max-width: 100%;
    align-items: center;
}
.cont-7{
    background-color: #1f4454;
    min-height: 400px;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 25px;
}
.nadpis{
    font-size: 100px;
    padding-top: 75px;
    padding-left: 75px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.nadpis2{
    font-size: 50px;
    padding-left: 150px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #BBBBBB;
}
.nadpis3{
    font-size: 100px;
    padding-left: 150px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #1f4454;
}
.nadpis4{
    font-size: 80px;
    color: #BBBBBB;
}
.text{
    font-size: 25px;
    padding-top: 75px;
    padding-left: 150px;
}
.text2{
    font-size: 25px;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 30%;
    font-family: sans-serif;
    color: #1f4454;
}
.text3{
    font-size: 25px;
    padding-top: 25px;
    padding-left: 150px;
    padding-right: 30%;
    color: #1f4454;
}
.hrajesa{
    width: 500px;
    height: 321px;
    padding-right: 100px;
}
.hrajesa-left{
    width: 500px;
    height: 321px;
    margin-left: 150px;
}
.paticka{
    text-align: center;
    min-height: 125px;
    color: black;
    padding-top: 50px;
    background-color: #f0f0f0;
}
.paticka p{
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-weight: 500;
    padding-top: 25px;
    padding-left:50px ;
    padding-right: 50px;
    font-size: 25px;
}
.text4{
    font-size: 25px;
    padding-top: 25px;
    padding-left: 150px;
    padding-right: 30%;
    color: #BBBBBB;
    font-family: "quicksand", sans-serif;
}
.steam img{
    max-width: 300px;
    float: right;
}
.linksp ul{
    list-style-type: none;
}
.linksp li{
    display: inline;
    margin-right: 25px;
    list-style-type: none;
}
.linkps a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    list-style-type: none;
}
.linksp a:visited{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.linksp a:link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
